name: Housing ML CI/CD

on:
  push:
    branches: [main, develop]
  pull_request:
    branches: [main]

env:
  PYTHON_VERSION: "3.13"
  AWS_REGION: ap-south-1   # hardcode is fine for OIDC

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh

      - name: Install dependencies
        run: uv sync

      - name: Lint and format
        run: |
          uv run isort --check-only src/ test/
          uv run black --check src/ test/
          uv run flake8 src/ test/


  build:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'

    permissions:
      id-token: write
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::253490748872:role/github-actions-housing-deploy
          aws-region: ${{ env.AWS_REGION }}

      - name: Set ECR registry
        run: |
          ACCOUNT_ID=$(aws sts get-caller-identity --query Account --output text)
          echo "ECR_REGISTRY=${ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com" >> $GITHUB_ENV

      - name: Ensure ECR repositories exist
        run: |
          aws ecr describe-repositories --repository-names housing-api \
            || aws ecr create-repository --repository-name housing-api

          aws ecr describe-repositories --repository-names housing-streamlit \
            || aws ecr create-repository --repository-name housing-streamlit

      - name: Login to ECR
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push images
        run: |
          IMAGE_TAG=${GITHUB_SHA::8}

          docker build -t $ECR_REGISTRY/housing-api:$IMAGE_TAG -f Dockerfile .
          docker push $ECR_REGISTRY/housing-api:$IMAGE_TAG

          docker build -t $ECR_REGISTRY/housing-streamlit:$IMAGE_TAG -f Dockerfile.streamlit .
          docker push $ECR_REGISTRY/housing-streamlit:$IMAGE_TAG



  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: production

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Configure AWS (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::253490748872:role/github-actions-housing-deploy
          aws-region: ${{ env.AWS_REGION }}

       # Deploy to ECS - API
      - name: Deploy housing-api-service
        run: |
          aws ecs update-service \
            --cluster housing-api-cluster-ecs \
            --service housing-api-service \
            --force-new-deployment

      # Deploy to ECS - Streamlit
      - name: Deploy housing-streamlit-service
        run: |
          aws ecs update-service \
            --cluster housing-api-cluster-ecs \
            --service housing-streamlit-service \
            --force-new-deployment
